<div class="relative flex flex-col w-full h-screen bg-gray-500">

     <h1 [class.slide-in-right]="true" class="mt-20 font-serif text-3xl font-semibold text-white ml-44">EDUCATION</h1>

     <ol class="relative mt-10 ml-40 border-gray-200 border-s-4 dark:border-gray-700">
          <li class="mb-10 ms-6">
               <span
                    class="absolute flex items-center justify-center w-5 h-5 bg-blue-100 rounded-full -start-3 ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900"></span>
               <div [class.scale-up-hor-left]="true"
                    class="items-center justify-between p-4 mr-20 text-xl bg-white border border-gray-200 rounded-lg shadow-sm sm:flex dark:bg-gray-700 dark:border-gray-700">
                    <div class="text-white">
                         <h1 class="font-serif text-2xl font-semibold">SSLC</h1>
                         <p>St. Theresa's.Matriculation.higher.secondary.school</p>
                         <p>82.6 %, 2017</p>
                    </div>
               </div>
          </li>
          <li class="mb-10 ms-6">
               <span
                    class="absolute flex items-center justify-center w-5 h-5 bg-blue-100 rounded-full -start-3 ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900"></span>
               <div [class.scale-up-hor-left]="true"
                    class="p-4 mr-20 bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-700 dark:border-gray-700">
                    <div class="text-xl text-white">
                         <h1 class="font-serif text-2xl font-semibold">HSC</h1>
                         <p>St. Theresa's.Matriculation.higher.secondary.school</p>
                         <p>58.33% %, 2019</p>
                    </div>

               </div>
          </li>
          <li class="ms-6">
               <span
                    class="absolute flex items-center justify-center w-5 h-5 bg-blue-100 rounded-full -start-3 ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900"></span>
               <div [class.scale-up-hor-left]="true"
                    class="items-center justify-between p-4 mr-20 bg-white border border-gray-200 rounded-lg shadow-sm sm:flex dark:bg-gray-700 dark:border-gray-700">
                    <div class="text-white">
                         <h1 class="font-serif text-2xl font-semibold">Bachelor of Engineering ( Computer Science and
                              Engineering )</h1>
                         <p>Jaya Engineering college</p>
                         <p>7.6 cgpa, 2019-2023</p>
                    </div>
               </div>
          </li>
     </ol>




</div>