<div class="flex flex-col w-full h-full bg-slate-400">
     <div class="flex w-full h-10 mt-10" [class.bounce-in-right]="true">
          <h1 class="mx-auto text-3xl font-bold text-white underline">CONTACT</h1>
     </div>
     <div class="w-4/6 mx-64 mt-16 bg-gray-400 border-2 shadow-2xl h-96 rounded-3xl shadow-cyan-500 border-cyan-400" [class.puff-in-center]="true"> 
          <form  class="mx-32 mt-14" action="https://formsubmit.co/jacobjabakumar2002@gmail.com" method="POST">

               <input type="text" name="name" id="name"
                    class=" form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-cyan-400 focus:outline-none "
                    placeholder="Name"><br>
               <input type="email" name="email" id="email" placeholder="Email address"
                    class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-cyan-400 focus:outline-none"><br>
               <textarea name="message" id="message" placeholder="Message" rows="3"
                    class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-cyan-400 focus:outline-none"></textarea>
               <br>
               <button type="submit"
                    class="w-full px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out">SEND</button>

          </form>
     </div>
</div>