<div class="relative flex w-full h-20 bg-white shadow-lg shadow-cyan-300 scroll-auto">
     <a href="#" routerLink="profile"><h1 class="pt-4 ml-20 font-serif text-4xl font-semibold text-cyan-400 mr-96 drop-shadow-4xl">Jacob</h1></a> 
     <nav class="flex flex-auto w-full h-20 py-5 ml-auto mr-20 text-2xl text-gray-600 justify-evenly">
       <a href="#" routerLink="profile" class="px-3 py-1 font-sans font-semibold hover:shadow-2xl hover:shadow-cyan-500 hover:bg-cyan-600 hover:rounded-xl hover:text-white">Profile</a>
       <a href="#" routerLink="skills" class="px-3 py-1 font-sans font-semibold hover:shadow-2xl hover:shadow-cyan-500 hover:bg-cyan-600 hover:rounded-xl hover:text-white">Skills</a>
       <a href="#" routerLink="education" class="px-3 py-1 font-sans font-semibold hover:shadow-2xl hover:shadow-cyan-500 hover:bg-cyan-600 hover:rounded-xl hover:text-white">Education</a>
       <a href="#" routerLink="projects" class="px-3 py-1 font-sans font-semibold hover:shadow-2xl hover:shadow-cyan-500 hover:bg-cyan-600 hover:rounded-xl hover:text-white">Projects</a>
       <a href="#" routerLink="contact" class="px-3 py-1 font-sans font-semibold hover:shadow-2xl hover:shadow-cyan-500 hover:bg-cyan-600 hover:rounded-xl hover:text-white">Contact</a>
     </nav>
   </div>