<div class="w-full h-fit bg-gray-300 flex flex-col">
     <h1 class="text-5xl mt-14 mx-auto font-sans font-bold">SKILLS</h1>
     <div class="w-full h-2/3  relative mt-10 text-center">
          <h1 class="text-3xl font-bold">Front-end</h1>
          <div class="flex flex-auto justify-evenly mt-8">
               <div class="bg-white w-40 h-56 rounded-xl drop-shadow-3xl">
                    <img class="p-2" src="../../assets/logo/html.jpg" alt="">
                    <p class="text-2xl">HTML</p>
               </div>
               <div class="bg-white w-40 h-56 rounded-xl drop-shadow-3xl">
                    <img class="p-3 h-40 w-full" src="../../assets/logo/css.png" alt="">
                    <p class="text-2xl mt-1">CSS</p>
               </div>
               <div class="bg-white w-40 h-56 rounded-xl drop-shadow-3xl">
                    <img class="p-2 h-40 w-full" src="../../assets/logo/JS.png" alt="">
                    <p class="text-2xl mt-1">JavaScript</p>
               </div>    
               <div class="bg-white w-40 h-56 rounded-xl drop-shadow-3xl">
                    <img class="p-2 h-40 w-full" src="../../assets/logo/angular.png" alt="">
                    <p class="text-2xl mt-1">Angular</p>
               </div>
               <div class="bg-white w-44 h-56 rounded-xl drop-shadow-3xl">
                    <img class="p-2 h-40 w-full" src="../../assets/logo/twcss.png" alt="">
                    <p class="text-2xl mt-1">Tailwind CSS</p>
               </div>
          </div>

          <h1 class="text-3xl mt-8 font-bold">Back-end</h1>
          <div class="flex flex-auto justify-evenly mt-8">
               <div class="bg-white w-40 h-56 rounded-xl drop-shadow-3xl">
                    <img class="p-2" src="../../assets/logo/java.png" alt="">
                    <p class="text-2xl">Java</p>
               </div>
               <div class="bg-white w-40 h-56 rounded-xl drop-shadow-3xl">
                    <img class="p-2 h-40 w-full" src="../../assets/logo/firebase.png" alt="">
                    <p class="text-2xl mt-1">Firebase</p>
               </div>
               <div class="bg-white w-40 h-56 rounded-xl drop-shadow-3xl">
                    <img class="p-2 h-40 w-full" src="../../assets/logo/python.png" alt="">
                    <p class="text-2xl mt-1">Python</p>
               </div>
               <div class="bg-white w-40 h-56 rounded-xl drop-shadow-3xl">
                    <img class="p-2 h-40 w-full" src="../../assets/logo/mysql.png" alt="">
                    <p class="text-2xl mt-1">MySQL</p>
               </div>
          </div>
          <h1 class="text-3xl font-bold mt-8">Others </h1>
          <div class="flex flex-auto justify-evenly mt-8 mb-14">
               <div class="bg-white w-44 h-56 rounded-xl drop-shadow-3xl">
                    <img class="p-2" src="../../assets/logo/Android_Studio.png" alt="">
                    <p class="text-2xl">Android Studio</p>
               </div>
               <div class="bg-white w-40 h-56 rounded-xl drop-shadow-3xl">
                    <img class="p-2 h-40 w-full" src="../../assets/logo/GitHub.png" alt="">
                    <p class="text-2xl mt-1 ">GitHub</p>
               </div>
               <div class="bg-white w-40 h-56 rounded-xl drop-shadow-3xl">
                    <img class="p-2 h-40 w-full" src="../../assets/logo/visual-studio.jpg" alt="">
                    <p class="text-2xl mt-1">Visual Studio </p>
               </div>
               <div class="bg-white w-44 h-60 rounded-xl drop-shadow-3xl">
                    <img class="p-2 h-40 w-full" src="../../assets/logo/photoshop.png" alt="">
                    <p class="text-2xl mt-1">Adobe photoshop</p>
               </div>
          </div>
     </div>
</div>