<div class="flex flex-col w-full bg-gray-300 h-fit">
     <h1 class="mx-auto font-sans text-5xl font-bold mt-14">SKILLS</h1>
     <div class="relative w-full mt-10 text-center h-2/3">
          <h1 class="text-3xl font-bold">Front-end</h1>
          <div class="flex flex-auto mt-8 justify-evenly">
               <div class="w-40 h-56 bg-white rounded-xl drop-shadow-3xl ">
                    <img class="p-2" src="../../assets/logo/html.jpg" alt="">
                    <p class="text-2xl">HTML</p>
               </div>
               <div class="w-40 h-56 bg-white rounded-xl drop-shadow-3xl">
                    <img class="w-full h-40 p-3" src="../../assets/logo/css.png" alt="">
                    <p class="mt-1 text-2xl">CSS</p>
               </div>
               <div class="w-40 h-56 bg-white rounded-xl drop-shadow-3xl">
                    <img class="w-full h-40 p-2" src="../../assets/logo/JS.png" alt="">
                    <p class="mt-1 text-2xl">JavaScript</p>
               </div>    
               <div class="w-40 h-56 bg-white rounded-xl drop-shadow-3xl">
                    <img class="w-full h-40 p-2" src="../../assets/logo/angular.png" alt="">
                    <p class="mt-1 text-2xl">Angular</p>
               </div>
               <div class="h-56 bg-white w-44 rounded-xl drop-shadow-3xl">
                    <img class="w-full h-40 p-2" src="../../assets/logo/twcss.png" alt="">
                    <p class="mt-1 text-2xl">Tailwind CSS</p>
               </div>
          </div>

          <h1 class="mt-8 text-3xl font-bold">Back-end</h1>
          <div class="flex flex-auto mt-8 justify-evenly">
               <div class="w-40 h-56 bg-white rounded-xl drop-shadow-3xl">
                    <img class="p-2" src="../../assets/logo/java.png" alt="">
                    <p class="text-2xl">Java</p>
               </div>
               <div class="w-40 h-56 bg-white rounded-xl drop-shadow-3xl">
                    <img class="w-full h-40 p-2" src="../../assets/logo/firebase.png" alt="">
                    <p class="mt-1 text-2xl">Firebase</p>
               </div>
               <div class="w-40 h-56 bg-white rounded-xl drop-shadow-3xl">
                    <img class="w-full h-40 p-2" src="../../assets/logo/python.png" alt="">
                    <p class="mt-1 text-2xl">Python</p>
               </div>
               <div class="w-40 h-56 bg-white rounded-xl drop-shadow-3xl">
                    <img class="w-full h-40 p-2" src="../../assets/logo/mysql.png" alt="">
                    <p class="mt-1 text-2xl">MySQL</p>
               </div>
          </div>
          <h1 class="mt-8 text-3xl font-bold">Others </h1>
          <div class="flex flex-auto mt-8 justify-evenly mb-14">
               <div class="h-56 bg-white w-44 rounded-xl drop-shadow-3xl">
                    <img class="p-2" src="../../assets/logo/Android_Studio.png" alt="">
                    <p class="text-2xl">Android Studio</p>
               </div>
               <div class="w-40 h-56 bg-white rounded-xl drop-shadow-3xl">
                    <img class="w-full h-40 p-2" src="../../assets/logo/GitHub.png" alt="">
                    <p class="mt-1 text-2xl ">GitHub</p>
               </div>
               <div class="w-40 h-56 bg-white rounded-xl drop-shadow-3xl">
                    <img class="w-full h-40 p-2" src="../../assets/logo/visual-studio.jpg" alt="">
                    <p class="mt-1 text-2xl">Visual Studio </p>
               </div>
               <div class="bg-white w-44 h-60 rounded-xl drop-shadow-3xl">
                    <img class="w-full h-40 p-2" src="../../assets/logo/photoshop.png" alt="">
                    <p class="mt-1 text-2xl">Adobe photoshop</p>
               </div>
          </div>
     </div>
</div>