<div id="projects" class="flex flex-col bg-gray-500 pt-20">
     <h1 class="text-4xl font-serif font-semibold text-white text-center">PROJECTS</h1>
   
     <div class="grid gap-10 mx-auto mt-10 sm:grid-cols-1 lg:grid-cols-2">
       <!-- Project 1 -->
       <div class="flex flex-col items-center lg:flex-row">
         <div [class.slide-in-right]="true" class="lg:w-1/2">
           <img class="rounded-2xl w-96 h-80" src="aps_project.jpg" alt="Airways Placement Services Project">
         </div>
         <div [class.slide-in-elliptic-right-bck]="true"
              class="flex flex-col bg-slate-400 rounded-2xl p-5 lg:w-1/2">
           <h1 class="text-2xl font-bold tracking-tight text-gray-900 underline text-center">
             Business Portfolio for Airways Placement Services
           </h1>
           <p class="mt-5 text-lg font-medium text-gray-800">
             Created a professional business portfolio for a startup company with sections such as Home, Job Description,
             About Us (Vision and Mission), and Contact Us. It features a user-friendly contact form and streamlined data
             collection via Google Form navigation.
           </p>
           <div class="flex justify-center mt-5 space-x-5">
             <a href="https://github.com/jackhack2002/airwayplacementservices.git" target="_blank"
                class="px-3 py-2 text-white bg-blue-700 rounded-lg">View Code</a>
             <a href="https://airwaysplacementservices.netlify.app/" target="_blank"
                class="px-3 py-2 text-white bg-blue-700 rounded-lg">View Site</a>
           </div>
         </div>
       </div>
   
       <!-- Project 2 -->
       <div class="flex flex-col items-center lg:flex-row">
         <div [class.slide-in-right]="true" class="lg:w-1/2">
           <img class="rounded-2xl w-96 h-80" src="jscart.jpg" alt="J's Cart Project">
         </div>
         <div [class.slide-in-elliptic-right-bck]="true"
              class="flex flex-col bg-slate-400 rounded-2xl p-5 lg:w-1/2">
           <h1 class="text-2xl font-bold tracking-tight text-gray-900 underline text-center">
             J's Cart: E-commerce Website
           </h1>
           <p class="mt-5 text-lg font-medium text-gray-800">
             Developed "J's Cart," an e-commerce website with features like product catalog, cart management, secure
             payment processing, and responsive design.
           </p>
           <div class="flex justify-center mt-5 space-x-5">
             <a href="https://github.com/jackhack2002/J-s-Cart.git" target="_blank"
                class="px-3 py-2 text-white bg-blue-700 rounded-lg">View Code</a>
             <a href="https://jackhack2002.github.io/JsCarts/" target="_blank"
                class="px-3 py-2 text-white bg-blue-700 rounded-lg">View Site</a>
           </div>
         </div>
       </div>
   
       <!-- Project 3 -->
       <div class="flex flex-col items-center lg:flex-row">
         <div [class.slide-in-right]="true" class="lg:w-1/2">
           <img class="rounded-2xl w-96 h-80" src="port-folio-logo.png" alt="Portfolio Project">
         </div>
         <div [class.slide-in-elliptic-right-bck]="true"
              class="flex flex-col bg-slate-400 rounded-2xl p-5 lg:w-1/2">
           <h1 class="text-2xl font-bold tracking-tight text-gray-900 underline text-center">
             Portfolio Using HTML and TailwindCSS
           </h1>
           <p class="mt-5 text-lg font-medium text-gray-800">
             Designed a simple and responsive portfolio using a utility-first CSS framework.
           </p>
           <div class="flex justify-center mt-5">
             <a href="https://port-folio-tailwind.netlify.app/" target="_blank"
                class="px-3 py-2 text-white bg-blue-700 rounded-lg">View Site</a>
           </div>
         </div>
       </div>
   
       <!-- Project 4 -->
       <div class="flex flex-col items-center lg:flex-row">
         <div [class.slide-in-right]="true" class="lg:w-1/2">
           <img class="rounded-2xl w-96 h-80" src="projectlogo1.jpg" alt="Digital Ambulance Service App">
         </div>
         <div [class.slide-in-elliptic-right-bck]="true"
              class="flex flex-col bg-slate-400 rounded-2xl p-5 lg:w-1/2">
           <h1 class="text-2xl font-bold tracking-tight text-gray-900 underline text-center">
             Digital Ambulance Service App
           </h1>
           <p class="mt-5 text-lg font-medium text-gray-800">
             A user-friendly app for requesting real-time ambulance services, connecting users with nearby providers for
             efficient emergency care.
           </p>
           <div class="flex justify-center mt-5">
             <a href="https://github.com/jackhack2002/Emergency-Ambulance-Service-.git" target="_blank"
                class="px-3 py-2 text-white bg-blue-700 rounded-lg">View Code</a>
           </div>
         </div>
       </div>
     </div>
   </div>
   