<div class="flex flex-col bg-gray-300">

     <div class="flex flex-col w-screen mx-auto my-5 h-96">
          <div class="my-auto ml-48">
               <img class="rounded-2xl w-96 h-80" src="../../assets/project-img/jscart.jpg" alt="">
          </div>
          <div class="absolute flex flex-col w-4/6 h-64 mt-20 bg-slate-400 ml-96 rounded-2xl">
               <h1 class="mx-auto mt-5 text-2xl font-bold tracking-tight text-gray-900 underline">
                    J's Cart an E-commerce website using Angular Framework .

               </h1>
               <p class="py-3 mt-5 text-xl font-semibold leading-6 text-justify text-gray-800 mx-14">Developed "J's
                    Cart," an e-commerce
                    website designed to provide a seamless online shopping experience. The project features a
                    user-friendly interface, extensive product catalog, cart management, secure payment processing, and
                    responsive design. My role included frontend development, UI design, and continuous optimization for
                    performance and user engagement.
               </p>
               <div>
                    <button class="px-3 py-2 mt-2 ml-20 font-semibold text-white bg-blue-700 w-28 rounded-xl"><a
                              target=”_blank” href="https://github.com/jackhack2002/J-s-Cart.git">view
                              code</a></button>
                    <button class="px-3 py-2 mt-2 ml-10 font-semibold text-white bg-blue-700 w-28 rounded-xl"><a
                              target=”_blank” href="https://jackhack2002.github.io/JsCarts/">view
                              site</a></button>
               </div>

          </div>
     </div>


     <div class="flex flex-col w-screen mx-auto my-5 h-96">
          <div class="my-auto ml-48">
               <img class="rounded-2xl w-96 h-80" src="../../assets/project-img/port-folio-logo.png" alt="">
          </div>
          <div class="absolute flex flex-col w-4/6 h-64 mt-20 bg-slate-400 ml-96 rounded-2xl">
               <h1 class="mx-auto mt-5 text-2xl font-bold tracking-tight text-gray-900 underline">
                    Port Folio Using HTML and TailwindCss.

               </h1>
               <p class="py-3 mt-5 text-xl font-semibold leading-6 text-justify text-gray-800 mx-14">
                    simple and responsive portfolio design using a utility-first CSS framework for rapidly building port-folio.
               </p>
               <div>
                    <!-- <button class="px-3 py-2 mt-2 ml-20 font-semibold text-white bg-blue-700 w-28 rounded-xl"><a
                              target=”_blank” href="https://github.com/jackhack2002/port-folio.git">view
                              code</a></button> -->
                    <button class="px-3 py-2 mt-2 ml-10 font-semibold text-white bg-blue-700 w-28 rounded-xl"><a
                              target=”_blank” href="https://port-folio-tailwind.netlify.app/">view
                              site</a></button>
               </div>

          </div>
     </div>


     <div class="flex flex-col w-screen mx-auto my-5 h-96">
          <div class="my-auto ml-48">
               <img class="rounded-2xl w-96 h-80" src="../../assets/project-img/projectlogo1.jpg" alt="">
          </div>
          <div class="absolute flex flex-col w-4/6 h-64 mt-20 bg-slate-400 ml-96 rounded-2xl">
               <h1 class="mx-auto mt-3 text-2xl font-bold tracking-tight text-gray-900 underline">
                    DIGITAL AMBULANCE SERVICE APP
               </h1>
               <h1 class="mx-auto mt-1 text-sm font-bold tracking-tight text-gray-900 ">APPLICATION FOR DIGITAL AMBULANCE SERVICES</h1>
               <p class="py-3 mt-2 text-xl font-semibold leading-6 text-justify text-gray-800 mx-14">The Application for Digital Ambulance Services aims to provide a user-friendly platform for quick and efficient access to emergency medical care. The app allows users to request ambulance services in real-time through a digital interface, connecting them with nearby ambulance providers.
               </p>
               <div>
                    <button class="px-3 py-2 mt-2 ml-20 font-semibold text-white bg-blue-700 w-28 rounded-xl"><a
                              target=”_blank” href="https://github.com/jackhack2002/Emergency-Ambulance-Service-.git">view
                              code</a></button>
                    <!-- <button class="px-3 py-2 mt-2 ml-10 font-semibold text-white bg-blue-700 w-28 rounded-xl"><a
                              target=”_blank” href="https://jackhack2002.github.io/JsCarts/">view
                              site</a></button> -->
               </div>

          </div>
     </div>



</div>