
<div id="profile" class="h-screen py-5 w-fit">
     <div class="absolute mx-auto w-full mt-40 font-serif text-center text-purple-600">
          <p class="text-4xl font-extrabold">Hi, I am </p> <br>
          <p class="text-6xl font-bold" [class.tracking-in-contract-bck-top]="true">Jacob</p> <br>
          <p class="pt-2 text-2xl">Angular developer</p>
          <a href="Jacob_resume.pdf" target="_blank"><button [class.bounce-top]="true" class="px-3 py-2 text-white transition duration-300 ease-in-out delay-150 bg-purple-600 hover:-translate-y-1 hover:scale-110 hover:bg-blue-700 rounded-2xl mt-7">Download
                    Resume</button>
          </a>
          <div class="flex h-10 pt-10 ">
               <div class="flex flex-row h-full mx-auto w-96 ">
                   <a href="https://github.com/jackhack2002"><svg xmlns="http://www.w3.org/2000/svg" class="mx-20 text-purple-700 transition duration-300 ease-in-out delay-150 h-14 hover:-translate-y-1 hover:scale-110"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round">  <path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22" /></svg>
               </a>
              
                    <a href="https://www.linkedin.com/in/jacobjabakumars732"><svg xmlns="http://www.w3.org/2000/svg" class="mx-20 text-purple-700 transition duration-300 ease-in-out delay-150 h-14 hover:-translate-y-1 hover:scale-110"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round">  <path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z" />  <rect x="2" y="9" width="4" height="12" />  <circle cx="4" cy="4" r="2" /></svg></a>
               </div>
          </div>
          <div class="w-full h-64 text-xl font-semibold pt-24 text-center">
               <p>Mobile : {{mobile}}</p>
               <p>Email : {{mailId}}</p>
          </div>
     </div>
</div>