<div class="w-full h-screen flex flex-auto">
     <img src="../../assets/background.png" class="w-screen h-full opacity-90">
     <div class="w-full h-screen bg-slate-400 absolute opacity-50"></div>
     <div class="absolute text-center w-full  mt-40  text-white  font-serif">
          <p class="text-4xl font-extrabold">Hi, I am </p> <br>
          <p class="text-6xl font-bold">Jacob</p> <br>
          <p class="text-2xl pt-2">Angular developer</p>
          <a href="../../assets/Jacob_s_Resume.pdf"><button class="bg-cyan-600 py-2 px-3 rounded-2xl mt-7">Download Resume</button>
          </a>
     </div>
</div>